<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolution</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
        #first  {
          color: blue;
      }
      #second  {
          color: blue;
      }
      #third  {
          color: blue;
      }
      
      .hidden {
          display: none;
      }
  </style>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="images/newLogo.jpeg" alt="Logo" class="logo-image">
        </div>
        <nav class="navigation">
           
        </nav>
    </header>
    <section class="cards" id="services">
        <h2 class="title"> Issue Resolution</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>

                </div>
                <div class="info">
                    <h3>Credit Card Issues </h3>
                    <p>Notifying clients of effective management of credit card concerns</p>
                    <div style="margin-bottom: 20px;"></div>
                    <span id="first" class="hidden">Customers with these issues were notified successfully </span>

                    <button id="firstbutton">Notify</button>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-money-check-alt"></i>

                </div>
                <div class="info">
                    <h3>Transaction Failure</h3>
                    <p>Notifying clients of effective management of the unsuccessful transactions  </p>
                    <div style="margin-bottom: 20px;"></div>
                    <span id="second" class="hidden">Customers with these issues were notified successfully</span>
                    <button id="secondbutton">Notify</button>

                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-laptop"></i>

                </div>
                <div class="info">
                    <h3>System Failure</h3>
                    <p>notifying clients of effective management of the system failure</p>
                    <div style="margin-bottom: 20px;"></div>
                    <span id="third" class="hidden">Customers with these issues were notified successfully </span>

                    <button id="thirdbutton">Notify</button>

                </div>
            </div>
            
            </div>
        </div>
    </section>
    <script>
        document.getElementById("firstbutton").addEventListener("click", function() {
            this.style.display = "none";
            document.getElementById("first").style.display = "inline";
        });
        document.getElementById("secondbutton").addEventListener("click", function() {
            this.style.display = "none";
            document.getElementById("second").style.display = "inline";
        });
        document.getElementById("thirdbutton").addEventListener("click", function() {
            this.style.display = "none";
            document.getElementById("third").style.display = "inline";
        });
    </script>

</body>
</html>